extends layout

block content
  <div id="topbar">
  h1= title
  
  </div>

  <div id="toolList">
    
    <button id="choosePurple" type="button">Purple</button>
    <button id="chooseRed" type="button">Red</button>
    <button id="chooseYellow" type="button">Yellow</button>
    <button id="chooseGreen" type="button">Green</button>
    <button id="chooseBlue" type="button">Blue</button>
    <button id="chooseTiny" id="size" type="button">Tiny</button>
    <button id="chooseSmall" id="size" type="button">Small</button>
    <button id="chooseNormal" id="size" type="button">Normal</button>
    <button id="chooseLarge" id="size" type="button">Large</button>
    <button id="chooseWow" id="size" type="button">Wow</button>
    <button id="choosePen" type="button">Pen</button>
    <button id="chooseEraser" type="button">Eraser</button>
    
    
  </div>
  <div id='canvasDiv'>
  </div>
  <button id="clearCanvas" type="button">Clear</button>

  <script src="/javascripts/drawing_board.js" type="text/javascript"></script>
  
  <footer>
    <div id="refrence">Background customized with
    <a href="https://svgbackgrounds.com/">SVGbackgrounds</a>
    p Code Written by Avery Stauber
    </div>
  </footer>
    