doctype html
html
  head
    //- http://www.williammalone.com/articles/create-html5-canvas-javascript-drawing-app/#demo-complete
    //- Source for information on how to work with and create canvas elements in HTML.
    //- Malone, W. (sourced 2018, March 18th)

    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript"></script>
  body
    block content
